*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ol, ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swal2-title {
  font-size: 1.5rem !important;
}

@media screen and (min-width: 576px) {
  .swal2-title {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 768px) {
  .swal2-title {
    font-size: 1.875em;
  }
}

.swal2-html-container {
  font-size: 1rem !important;
}

@media screen and (min-width: 768px) {
  .swal2-html-container {
    font-size: 1.2rem !important;
  }
}

.dataTables_paginate, .dataTables_info {
  text-align: center;
  font-size: 0.75rem !important;
}

@media screen and (min-width: 768px) {
  .dataTables_paginate, .dataTables_info {
    font-size: 1rem !important;
  }
}

.table-wrapper {
  position: relative;
}

.table-wrapper #table-container {
  overflow: auto;
  max-height: 90vh;
  width: 100%;
}

.table-wrapper #table-container table {
  width: 100%;
}

.table-wrapper #table-container .dataTables_length label, .table-wrapper #table-container .dataTables_filter label {
  font-size: .8rem;
}

@media screen and (min-width: 576px) {
  .table-wrapper #table-container .dataTables_length label, .table-wrapper #table-container .dataTables_filter label {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .table-wrapper #table-container .dataTables_length label, .table-wrapper #table-container .dataTables_filter label {
    font-size: 1.2rem;
  }
}

.table-header {
  font-size: 1rem !important;
  font-weight: bold;
  text-align: center;
}

.table-image {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.table-body td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

@media screen and (min-width: 576px) {
  .table-body td {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .table-body td {
    font-size: 1.2rem;
  }
}

.table-body td button,
.table-body td button.rounded-circle {
  width: 35px;
  height: 35px;
  text-align: center;
}

.table-body td button .fas,
.table-body td button .fab,
.table-body td button .far,
.table-body td button.rounded-circle .fas,
.table-body td button.rounded-circle .fab,
.table-body td button.rounded-circle .far {
  text-align: center;
}

.table-body td .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23.5px;
}

.table-body td .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.table-body td .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.table-body td .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.table-body td input:checked + .slider {
  background-color: #5cb85c;
}

.table-body td input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #5cb85c;
          box-shadow: 0 0 1px #5cb85c;
}

.table-body td input:checked + .slider:before {
  -webkit-transform: translateX(15.8px);
  transform: translateX(15.8px);
}

.table-body td .slider.round {
  border-radius: 34px;
}

.table-body td .slider.round:before {
  border-radius: 50%;
}

.admin-section {
  height: 100vh;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.admin-section .sidenav {
  height: 100vh;
  max-height: 100vh;
}

.admin-section .sidenav .nav-link {
  color: #fff !important;
}

.admin-section .sidenav .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

@media (min-width: 768px) {
  .admin-section .sidenav .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.admin-section .sidenav .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.admin-section .sidenav .b-example-vr {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.admin-section .sidenav .bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.admin-section .sidenav .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.admin-section .sidenav .nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.admin-section .sidenav .btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}

.admin-section .sidenav .btn-toggle:hover,
.admin-section .sidenav .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.admin-section .sidenav .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  -webkit-transition: -webkit-transform .35s ease;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease, -webkit-transform .35s ease;
  -webkit-transform-origin: .5em 50%;
          transform-origin: .5em 50%;
}

.admin-section .sidenav .btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.admin-section .sidenav .btn-toggle[aria-expanded="true"]::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.admin-section .sidenav .btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.admin-section .sidenav .btn-toggle-nav a:hover,
.admin-section .sidenav .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.admin-section .sidenav .scrollarea {
  overflow-y: auto;
}

.admin-section .main-container {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

.admin-section .main-container h1.container-title {
  height: 57px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */